.width-100{
  width: 100%!important;
}
.input-group-prepend{
  max-width: 100%!important;
  white-space: normal!important;
}
.mw-300{
  max-width: 300px;
}
.overflow-hide{
  overflow: hidden;
}
.trans-size-80{
  transform: scale(0.8);
}
.letterspace-2{
  letter-spacing: 2px;
}
.font-weight-superlight{
  font-weight: 100!important;
}
.font-size-50{
  font-size: 50%!important;
}
.font-size-100{
  font-size: 100%!important;
}
.font-size-200{
  font-size: 200%!important;
}
.bg-black-50{
  background: rgba(0,0,0,0.5);
}
.bg-verydark{
  background: #000!important;
}
.bg-none{
  background: none!important;
}
.invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.bg-cover-center{
  background-position: center;
  background-size: cover;
}
.bg-image-1{
  background-image: url("https://i.pinimg.com/originals/2a/83/03/2a8303314ac11ecadf65d6e0d0f2a1aa.jpg");
}
