.width-100{
  width: 100%!important;
}
.mw-300{
  max-width: 300px;
}
.font-weight-superlight{
  font-weight: 100!important;
}
.font-size-50{
  font-size: 50%!important;
}
.font-size-100{
  font-size: 100%!important;
}
.font-size-200{
  font-size: 200%!important;
}
.bg-verydark{
  background: #000!important;
}
.bg-none{
  background: none!important;
}
.invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
